
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481525090410'); /* IE9*/
  src: url('iconfont.eot?t=1481525090410#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481525090410') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481525090410') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481525090410#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kaixinkefu:before { content: "\e65f"; }

.icon-icon53:before { content: "\e63d"; }

.icon-qiehuan:before { content: "\e6c4"; }

.icon-gengduo:before { content: "\e726"; }

.icon-1:before { content: "\e612"; }

.icon-top:before { content: "\e665"; }

.icon-huidingbu:before { content: "\e664"; }

.icon-chuxingfangshi:before { content: "\e640"; }

.icon-weather-copy:before { content: "\e62a"; }

.icon-tianqi:before { content: "\e600"; }

.icon-chuxingtequan:before { content: "\e641"; }

.icon-kuaichuxing:before { content: "\e766"; }

.icon-huidingbu1:before { content: "\e807"; }

.icon-kaixinkefu1:before { content: "\e64c"; }

.icon-tianqi1:before { content: "\e63e"; }

